{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'Css/mystyle.css' %}">
<meta charset="utf-8">
	<title>FIRST APLIKASI ALVIAN_1184077</title>
<head>
<body>
	<header><h1 class="a"> Hello This is New Project Alvian_1184077</h1></header>
	<h1 class="b">THIS IS THE PICTURE OF DJANGGO</h1>
	<h2 class="c">DJANGGO WAS CREATED IN THE FALL OF 2003</h2>
	<h3 class="d">
		
		{{ insert_me }}

	</h3>
	<a href="https://www.djangoproject.com/">Now Lets Roll</a></br>
	<img src="{% static 'images/django.jpg' %}" alt="Picture didn't show!">
</body>
</head>
</head>
</html>